
*{
    margin:0;
    padding:0;
}
body{
    background-color:#F9E7B2
}
#heading{
    color:#ffffff;
    text-align:center;
    font-size:25px;
    font-family:monospace;
    background-color: #f26969;
    padding: 20px;
    margin-left:10px;
}

#login{
    background-color: #f84e4e;
    text-align: center;
    display: flex;    
    justify-content: center;
}
#login2{
    background-color: #F9E7B2;
    
    padding: 50px;
    border-radius: 10px;
    margin: 20px;
}

#login #login2 #inputs label{
    font-size: larger;
}
#inputs{
    margin-bottom: 10px;
   
   font-weight: bold;
}
#inputs input{
    margin-left: 20px;
    
}
#login h2{
    margin-top: 10px;
    margin-bottom: 20px;
    
}
#login button{
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: burlywood;
}

#link{
    padding: 5px;
  
    text-align: center;
    border-radius: 5px;
    border: none;
    
}
#link button{
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: burlywood;
    margin-bottom: 10px;
}

#link a{
    
    color:white;
    text-decoration: none;
    
}

#link button:hover{
    cursor: pointer;
    background-color: #f26969;
    color: white;

}
#login button:hover{
    cursor: pointer;
    background-color: #f26969;
    color: white;
}

nav{
    background-color : #f26969;
    text-align: center;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color:  #f26969;
    font-size: 18px;
 
    color: white;
}
nav ul li{
  
   margin-right: 12px;
   padding: 12px;

}
nav ul li:hover{
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: #f84e4e;
}

header
{
    background-color: #f26969;
    display: flex;
    justify-content: space-between;
}

#hero{
    
    padding: 10px;
    display: flex;
}
#text{
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    width: 50%;
    height: 100%;
}

#imageC{
    text-align: center;
 
   
    width: 50%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#imageC img{
    border-radius: 20px;
   
}